* {
    box-sizing: border-box;
  }
  
  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
  }
  
  #root {
    overflow: auto;
  }
  
  body {
    position: fixed;
    overflow: hidden;
    overscroll-behavior-y: none;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    color: black;
    background: #090b1f;
    background: radial-gradient(at 50% 70%, #200f20 40%, #090b1f 80%, #050523 100%);
  }

  .content{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .ui{
    position: absolute;
    z-index: 500;
    color: white !important;
  }

  .title{
    padding: .5rem 1rem;
    margin: 0;
  }
  